@model RedeAgro.Models.ViewModels.MinhasInformacoes



<div class="row">
    <div class="col-4 mb-2">
        <label class="form-label"> @Html.DisplayNameFor(model => model.Nome) </label>
        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome" } })
    </div>

    <div class="col-4 mb-2">
        <label class="form-label"> @Html.DisplayNameFor(model => model.Email) </label>
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "E-mail" } })
    </div>

    <div class="col-4 mb-2">
        <label class="form-label"> @Html.DisplayNameFor(model => model.Telefone) </label>
        @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Telefone" } })
    </div>
</div>