@model RedeAgro.Models.ViewModels.MinhasInformacoes

<div class="card">
    <div class="card-body">
        <!--TABELA-->
        <table class="table table-bordered table-striped table-hover align-middle mt-2">
            <!--HEADER-->
            <thead>
                <tr class="row">
                    <th class="col-2">Data</th>
                    <th class="col-9">Descrição</th>
                    <th class="text-center col-1">#</th>
                </tr>
            </thead>

            <!--CORPO-->
            <tbody>
                @for (int i = 0; i < Model.Servicos.Count; i++)
                {
                    <tr class="row ">

                        @Html.HiddenFor(m => m.Servicos[i].UserId)
                        @*@Html.HiddenFor(m => m.Servicos[i].Sequencial)*@

                            <td class="col-2">
                                @Html.HiddenFor(model => model.Servicos[i].DataCriacao)
                            @Html.EditorFor(model => model.Servicos[i].DataCriacao, new { htmlAttributes = new { @class = "form-control", @readonly = true} })
                            </td>

                            <td class="col-9">
                            @Html.EditorFor(model => model.Servicos[i].Descricao, new { htmlAttributes = new { @class = "form-control"} })
                                <small class="text-muted">
                                @Html.ValidationMessageFor(model => model.Servicos[i].Descricao, null, new { @class = "text-danger" })
                                </small>
                            </td>
                            <td class="text-center col-1">

                                <a asp-area="Produtor"
                                   asp-action="Form"
                                   asp-route-id="@@model.Servicos[i].Id"
                                    class="btn btn-danger remove-servico"
                                   role="button"
                                   sequencial-servico="@i" disabled>
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>